ADDON_NAME=streaMX
ADDON_ID=com.streamx.addon
PORT=7000
SOURCE_API_URL=https://pelispanda.org/wp-json/wpreact/v1/
SOURCE_API_KEY=
METADATA_API_URL=https://v3-cinemeta.strem.io/
NOVA_ENABLED=true
NOVA_API_URL=https://syntorq.com/api/
NOVA_MAX_RESPONSE_BYTES=4194304
CATALOG_FALLBACK_PAGES=10
CACHE_TTL_SECONDS=300
MAX_RESPONSE_BYTES=1048576
